@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

main {
  margin: 10px;
  position: relative;
}

.description_recipe {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
}

h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(24px, 4vw, 48px);
  line-height: 32px;
  margin-top: 2vh;
}

.recipe_desc {
  font-style: italic;
  font-weight: 500;
  font-size: clamp(12px, 2vw, 14px);
  margin: 0;
  color: #4f4f4f;
  width: clamp(320px, 50%, 600px);
}

.cheesecake {
  width: 100%;
  border-radius: 12px;
  margin-top: 25px;
}

.special > span,
.special > div > .detail_sub {
  color: #f2994a;
}

.special {
  width: 100%;
  margin-bottom: 20px;
}

.details {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 25px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.detail {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.detail_head {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(8px, 2vw, 10px);
  margin: 0;
  text-transform: uppercase;
  color: #bdbdbd;
}

.detail_sub {
  font-style: normal;
  font-weight: 500;
  font-size: clamp(10px, 2vw, 14px);
  margin: 0;
  color: #333333;
}

h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(18px, 2vw, 24px);
  line-height: 24px;
  color: #333333;
}

h3 {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

ul {
  padding-left: 1.6em;
}

ul > li::before {
  content: "";
  border: 1px solid #828282;
  border-radius: 4px;
  position: absolute;
  left: 0em;
  color: #333333;
  height: 1.2em;
  width: 1.2em;
  cursor: pointer;
}

ul > li:hover::before {
  border: 1px solid #f2994a;
  transition: ease-in-out 0.3s;
  background-color: #f1f1f1;
}

.active {
  border: 1px solid #f2994a;
  background-color: #f1f1f1;
}

ul > li {
  cursor: pointer;
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(14px, 2vw, 16px);
  line-height: 25px;
  color: #333333;
  margin-bottom: 12px;
}

ol {
  counter-reset: line-li;
  padding-left: 3em;
}

ol > li::before {
  font-family: "Playfair Display";
  font-size: 24px;
  line-height: 32px;
  content: counter(line-li);
  position: absolute;
  left: 0;
  background-color: #f2994a;
  border-radius: 6px;
  text-align: center;
  padding: 5px 10px;
  padding-bottom: 15px;
  color: white;
  height: 1.2em;
  width: 1.2em;
}

ol > li {
  margin-left: 10px;
  counter-increment: line-li;
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: clamp(12px, 3vw, 35px);
}

.ref {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #bdbdbd;
  padding-bottom: 30px;
}

@media (width >= 768px) {
  main {
    width: 1256px;
    margin: 5vh auto;
    position: relative;
  }

  .cheesecake {
    margin-top: 50px;
  }

  .special {
    width: auto;
    margin-bottom: 0;
  }

  .details {
    position: absolute;
    right: 0;
    width: 200px;
    flex-direction: column;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    align-content: center;
    padding: 50px 30px;
    gap: 40px;
  }

  .detail {
    width: fit-content;
  }
}
